body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #2e797c;
  background-color: #f6d4ed;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: #ffffff;
  background-color: rgba(41, 121, 124, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.carousel-item {
  height: 32rem;
  background-color: #cceff0;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #d97b9d;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  color: #92c576;
}

.featurette-divider {
  margin: 5rem 0;
  border-color: #92c576;
}

.featurette-heading {
  letter-spacing: -.05rem;
  color: #2e797c;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
