body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #2e797c;
  background-color: #f6d4ed;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: #ffffff;
  background-color: rgba(41, 121, 124, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.carousel-item {
  height: 32rem;
  background-color: #cceff0;
}

/* Mejoras en la sección de marketing */
.marketing .col-lg-3 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #d97b9d;
}

.marketing .col-lg-3 p {
  margin-right: .75rem;
  margin-left: .75rem;
  color: #92c576;
}

/* Divisor mejorado */
.featurette-divider {
  margin: 5rem 0;
  border-color: #92c576;
}

/* Encabezados estilizados */
.featurette-heading {
  letter-spacing: -.05rem;
  color: #2e797c;
}

/* Transición en enlaces y botones */
.navbar-nav .nav-link, .btn-secondary, .dropdown-item {
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Navbar estilizado */
.navbar {
  background-color: #d97b9d;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-nav .nav-link:hover {
  color: #92c576;
}

/* Dropdown estilizado */
.dropdown-menu {
  background-color: #f6d4ed;
  border: 1px solid #92c576;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  color: #2e797c;
}

.dropdown-item:hover {
  background-color: #d97b9d;
  color: #ffffff;
}

/* Botones secundarios estilizados */
.btn-secondary {
  background-color: #92c576;
  border-color: #92c576;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #cceff0;
  border-color: #cceff0;
  color: #2e797c;
}

img {
  border-radius: 70px;
}

.row {
  justify-content: center;
  gap: 2rem;
}

/* Encabezado y párrafo */
h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #d97b9d;
}

p {
  font-size: 0.95rem;
  color: #2e797c;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  h2 {
    font-size: 1.5em;
  }

  .marketing .col-lg-3 {
    margin-bottom: 1rem;
  }

  .navbar {
    flex-direction: column;
  }

  .carousel-caption p {
    font-size: 1.1rem;
  }
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .feature
