h1 {border: 2px solid tomato;}
ul {
    border-width: 5px;
    border-style: dooted;
    border-color: dodgerblue;
}
li {
    border-width: 2.5px;
    border-style: dashed;
    border-color: lightcoral;
}
p {
    border-radius: 10px;
    border-width: 2.5px;
    border-style: solid;
    border-color: darkmagenta;
}
body{
    background-image: url("favicon.ico");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
}